archives/
contrib/
gcc/build/
gcc/gmp/
gcc/mpc/
gcc/mpfr/
install/
TAGS
extras/mem_level_names
extras/papi_enabled
libworkstream_df/libwstream_df.so
examples/bitonic/stream_bitonic_from_df
examples/bzip2/bzip2
examples/bzip2/stream_bzip2
examples/cholesky/cholesky
examples/cholesky/cilk_cholesky
examples/cholesky/openmp_loop_cholesky
examples/cholesky/openmp_task_cholesky
examples/cholesky/stream_cholesky
examples/cholesky/stream_df_cholesky
examples/cholesky/stream_starss_translation_cholesky
examples/cholesky/block_seq_cholesky
examples/cholesky/stream_cholesky_from_df
examples/cholesky/stream_df_cholesky_hyb
examples/cholesky/stream_df_cholesky_hyb_reuse
examples/cholesky/stream_df_cholesky_peek_reuse
examples/cholesky/stream_df_cholesky_reuse
examples/fft_1d/barrier_fft
examples/fft_1d/radix_fft_stream_pure
examples/fft_1d/seq_fftw
examples/fibo/barrier_fibo
examples/fibo/fibo
examples/fibo/cilk_fibo
examples/fibo/stream_fibo
examples/fibo/stream_fibo_single_stream
examples/fibo/stream_recursive_fibo
examples/ring-roberts/ring_roberts
examples/ring-roberts/stream_df_ring_roberts
examples/ring-roberts/stream_ring_roberts_from_df
examples/ring-roberts/stream_ring_roberts_seqctrl
examples/fmradio/fmradio_seq
examples/fmradio/stream_fmradio_df
examples/seidel/cilk_seidel
examples/seidel/openmp_loop_seidel
examples/seidel/openmp_task_seidel
examples/seidel/seidel
examples/seidel/starss_to_stream_seidel
examples/seidel/stream_seidel
examples/seidel/stream_df_seidel
examples/seidel/topsort_deps_stream_seidel
examples/seidel/stream_df_seidel_reuse
examples/seidel/stream_seidel_from_df
examples/seidel/stream_seidel_seqctrl
examples/sparse_lu/sparse_lu
examples/sparse_lu/stream_sparse_lu
examples/sparse_lu/stream_df_sparse_lu
examples/syntax/001_scalar_streams
examples/syntax/002_scalar_streams_broadcast
examples/syntax/003_access_interleaving
examples/syntax/004_arrays_of_streams
examples/syntax/005_dynamic_arrays_of_streams
examples/syntax/006_multi_prod_matching
examples/syntax/007_simple_multi_prod
examples/syntax/008_multi_consumer_interleaving
examples/syntax/009_modular_compilation
examples/syntax/010_modular_compilation_2
examples/syntax/011_modular_with_arrays_of_streams
examples/syntax/012_variadic_clauses_with_arrays_of_windows
examples/syntax/013_stream_selection_arrays
examples/syntax/014_broadcasting_across_selection_arrays
examples/syntax/015_nested_streaming
examples/syntax/016_lastprivate_clause
examples/syntax/017_lastprivate_clause_nested
examples/syntax/018_modular_taskwait
examples/syntax/019_streams_of_streams
examples/syntax/020_inout_reuse
examples/syntax/021_variadic_inout_reuse
examples/jacobi/x86_jacobi
examples/jacobi/x86_jacobi_c11
examples/jacobi/x86_jacobi_dumbc11
examples/jacobi/x86_jacobi_nofences
examples/jacobi-1d/jacobi_1d
examples/jacobi-1d/jacobi_1d.c
examples/jacobi-1d/stream_df_jacobi_1d
examples/jacobi-1d/stream_df_jacobi_1d.c
examples/jacobi-1d/stream_df_jacobi_1d_reuse
examples/jacobi-1d/stream_df_jacobi_1d_reuse.c
examples/jacobi-1d/stream_jacobi_1d_from_df
examples/jacobi-1d/stream_jacobi_1d_from_df.c
examples/jacobi-1d/stream_jacobi_1d_seqctrl
examples/jacobi-1d/stream_jacobi_1d_seqctrl.c
examples/jacobi-2d/jacobi_2d
examples/jacobi-2d/jacobi_2d.c
examples/jacobi-2d/stream_df_jacobi_2d
examples/jacobi-2d/stream_df_jacobi_2d.c
examples/jacobi-2d/stream_df_jacobi_2d_reuse
examples/jacobi-2d/stream_df_jacobi_2d_reuse.c
examples/jacobi-2d/stream_jacobi_2d_from_df
examples/jacobi-2d/stream_jacobi_2d_from_df.c
examples/jacobi-2d/stream_jacobi_2d_seqctrl
examples/jacobi-2d/stream_jacobi_2d_seqctrl.c
examples/jacobi-3d/jacobi_3d
examples/jacobi-3d/jacobi_3d.c
examples/jacobi-3d/stream_df_jacobi_3d
examples/jacobi-3d/stream_df_jacobi_3d.c
examples/jacobi-3d/stream_df_jacobi_3d_reuse
examples/jacobi-3d/stream_df_jacobi_3d_reuse.c
examples/jacobi-3d/stream_jacobi_3d_from_df
examples/jacobi-3d/stream_jacobi_3d_from_df.c
examples/jacobi-3d/stream_jacobi_3d_seqctrl
examples/jacobi-3d/stream_jacobi_3d_seqctrl.c
examples/kmeans/kmeans
examples/kmeans/openmp_loop_kmeans
examples/kmeans/stream_df_kmeans
examples/knapsack/x86_knapsack
examples/knapsack/x86_knapsack_c11
examples/knapsack/x86_knapsack_dumbc11
examples/knapsack/x86_knapsack_nofences
examples/matmul/x86_matmul
examples/matmul/x86_matmul_c11
examples/matmul/x86_matmul_dumbc11
examples/matmul/x86_matmul_nofences
examples/strassen/x86_strassen
examples/strassen/x86_strassen_c11
examples/strassen/x86_strassen_dumbc11
examples/strassen/x86_strassen_nofences
examples/bitonic/bitonic
examples/bitonic/stream_df_bitonic
examples/bitonic/stream_bitonic_seqctrl
*.out
examples/fmradio/*.raw
examples/fmradio/*.txt
examples/mergesort/mergesort
examples/mergesort/stream_df_mergesort
extras/fos/
*.c.*t*
*.kdbgrc*
tmp/
*.ost
*.dot
*.pdf
*.svg
*.pyc
*.o
*~
